header {
  margin-bottom: 6rem;
  background-color: #4a47a3;
  color: white;
  height: 5rem;
}

p,
h2 {
  text-align: center;
}

div {
  border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  text-align: center;
}

img {
  height: 12rem;
  width: 12rem;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5rem;
}
